* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: rgb(78, 119, 196);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

.validador-cpf {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height:  200px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.459);
}

.gerador-cpf {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.459);
}

h1 {
    margin: 0 0 20px 0;
    border-bottom: 1px solid rgb(88, 88, 116);
}

input {
    font-size: 1em;
    padding: 5px;
}

button {
    padding: 6px 20px;
}



.msg-txt {
    margin-top: 10px;
    padding: 5px;
}

